<section class="main-addtask">
  <div class="main-addtask-input name">
    <label>Task Name</label>
    <input type="text" name="task-name" required />
  </div>
  <div class="main-addtask-input category">
    <label>Category Name</label>
    <select name="task-category">
      <option value="Sport">Sport</option>
      <option value="Education">Education</option>
      <option value="Home">Home</option>
      <option value="Family">Family</option>
    </select>
  </div>
  <div class="main-addtask-input date">
    <label>Date</label>
    <input type="date" name="task-date" required />
  </div>
  <div class="main-addtask-input time">
    <label>time</label>
    <input type="time" name="task-time" required />
  </div>

  <div class="main-addtask-input button">
    <button>Add Task</button>
  </div>
</section>
