<table class="main-task-container">
  <thead>
    <tr>
      <th>Task</th>
      <th>Category</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Washing dishes</td>
      <td>Home Tasks</td>
      <td>done</td>
    </tr>
    <tr>
      <td>Washing dishes</td>
      <td>Home Tasks</td>
      <td>done</td>
    </tr>
    <tr>
      <td>Washing dishes</td>
      <td>Home Tasks</td>
      <td>done</td>
    </tr>
    <tr>
      <td>Washing dishes</td>
      <td>Home Tasks</td>
      <td>done</td>
    </tr>
    <tr>
      <td>Washing dishes</td>
      <td>Home Tasks</td>
      <td>done</td>
    </tr>
    <tr>
      <td>Washing dishes</td>
      <td>Home Tasks</td>
      <td>done</td>
    </tr>
    <tr>
      <td>Washing dishes</td>
      <td>Home Tasks</td>
      <td>done</td>
    </tr>
    <tr>
      <td>Washing dishes</td>
      <td>Home Tasks</td>
      <td>done</td>
    </tr>
  </tbody>
</table>
